
  <div id="sign-in">
      <h1>My Journeys</h1>
      <div class="search">
      <input class="location" type="text" placeholder="Enter City">
      <button class="search">Search</button>
    </div></br>
  </div>
