.top-bar{
  height:60px;
}

#search{
  height:45px;
}

#search-section{
  display: inline-flex;
}

.contain-to-grid .top-bar{
   margin-right: 0;
   margin-left: 0;
   max-width: 100%;
}

#current-location{
  color: white;
}

#picture-box{
  top:5px;
}

.button{

}

.overlay{
  width: 279px;
  height: 279px;
  background-color: black;
  opacity: 0;
}

img:hover .overlay{
  opacity: .4;
}


.login-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #ededed 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #ededed 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #ededed 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding: 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-top: 10px;
  float: right;
  margin-right: 2%;
}

.login-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #ffffff 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #ededed 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #ededed 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0);
  background-color:#ffffff;
  color: black;
}
.login-btn:active {
  position:relative;
  top:1px;
}

#sign-in{
  width: 30%;
  margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  max-width: 700px;
  padding: 15px;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.button{
  float:right;
}

.login-btn{
  visibility: hidden;
}
